{% extends "base.html" %}

{% block content %}

{% block nav-search %}<a class="active" href="/posteriors/">Interact with Posterior Samples</a>{% endblock %}
<h1>Interact with Gravitational Wave Posteriors</h1>

<form action="/posteriors/posteriors/" method="get" style="display: inline;">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<fieldset>
{% for field in form.visible_fields %}
    <label>
    {{ field.label }} : {{ field }}
    </label>
{% endfor %}
</fieldset>

<input type="submit" value="Display Samples" />

</form>
{% endblock %}
