{% extends "base.html" %}

{% block content %}

<a class ="embimg" href="{{histogramurl}}" TARGET="_blank" >
<img src="{{histogramurl}}">
</a>

<div align="center">
<h2 align="center">Results</h2>
</div>

{{ results | safe}}

<script>
$(document).ready(function() {
  $('#samples').DataTable( {
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  } );
} );
</script>
<script>
$(document).ready(function() {
  $('#samples').dataTable();
} );
</script>
</body>
</html>


{% endblock %}
