{% extends "base.html" %}
  
{% block content %}

{% load crispy_forms_tags %}

{% block nav-search %}<a class="active" href="/waveforms/">Generate Waveforms</a>{% endblock %}
<h1>Generate Waveforms</h1>

{% crispy form %}

<div id="img_container">
</div>


<script>
    // wait for the DOM to be loaded
    $(document).ready(function() {
        // bind 'waveform_form' and provide a simple callback function
        $('#waveform_form').submit(function(submit_button) {
            submit_button.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var url = form.attr('action');
            var container = document.getElementById("img_container");
            while (container.firstChild) {
                container.removeChild(container.firstChild); // Want to remove old images to avoid build-up
            }
            // Create the image url and add it via get request
            var image = document.createElement("IMG");
            image.setAttribute("src", url.concat("?", form.serialize()));
            container.appendChild(image);
            $.get('/waveforms/snr/' + '?' + form.serialize(), function(data, status) {
                var snr = document.createElement("div");
                snr.innerHTML = 'Optimal SNR Value: ' + data
                container.appendChild(snr)
            })
        });
    });
</script>

{% endblock %}
